<h1>User Setting</h1>

Hello, <%= @user.username %>.
<hr>

<div class="form-group"><%= link_to 'Edit Profile', edit_user_registration_path, class: "btn btn-primary btn-lg btn-block" %></div>
<!-- <div class="form-group"><%= link_to 'Change Password', edit_user_password_path, class: "btn btn-danger btn-lg btn-block" %></div> -->
<div class="form-group"><%= link_to 'Sign out', destroy_user_session_path, class: "btn btn-dark btn-lg btn-block" %></div>

<h2>Cancel my account</h2>
<p style="padding-bottom: 5px">Unhappy?</p>
<div> <%= button_to "Cancel my account", user_registration_path, data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-outline-danger btn-lg btn-block" %></div>
